Source: ruby-serialport
Section: interpreters
Priority: optional
Maintainer: Guillaume Pierronnet <moumar@netcourrier.com>
Standards-Version: 3.1.1
Build-Depends: debhelper (>= 2.1.2), ruby (>= 1.6.2-6), ruby-dev (>= 1.6.2-6)

Package: ruby-serialport
Architecture: any
Depends: ${shlibs:Depends}, ruby (>= 1.6)
Description: serial port module for Ruby
 serial port module for ruby

